<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/Style/Login.css}"/>


</head>
<body>
<div class="main">
    <div class="wrap">
        <form class="form" th:action="@{/login}" method="post">
<!--            <img src="https://login.thanglong.edu.vn/images/logotlu.jpg" id="anh1" alt="logo"/>-->
            <p id="title">Đăng Nhập</p>

            <div th:if="${param.error}" class="alert alert-danger" role="alert" style="color: red; padding-bottom: 20px">
                Username hoặc password không hợp lệ
            </div>

            <!-- <label for="username">Username</label> -->
            <div class="input" data-validate="Điền tên đăng nhập">
                <input type="text" minlength="3" name="username" id="username" placeholder="Tên đăng nhập" class="input100">
            </div>


            <!-- <label for="password"/>password</label> -->
            <div class="password" data-validate="Điền tên mật khẩu">
                <input type="password" minlength="3" name="password" id="password" placeholder="Mật khẩu" class="input100">
            </div>
            <!-- <input type="password" id="password" name="password"/> -->
            <!-- <div class="form-checkbox">
                <input type="checkbox" name="ckb1" id="ckb1" checked="checked">
                <label for="ckb1" class="label-checkbox">
                    Remenber me
                </label>
            </div> -->

            <div class="from-action login">
                <button type="submit" class="btn login-form " value="Đăng Nhập">Login</button>
            </div>
            <div class="from-action login">
                <a th:href="@{/Register}"><button type="submit" class="btn login-form " value="Tạo tài khoản">Register</button></a>
            </div>
            <!-- <div class="login">
                <input type="submit" name="btloggin" value="Đăng Nhập" id="btnLogin" class="login-form">
            </div> -->
            <!-- <div class="text">
                <a href="" class="text-white">Quên mật khẩu ấn vào dòng này</a>
            </div>
            <div class="last">
                <a href=""><img src="https://login.thanglong.edu.vn/images/gglg.png" alt="" id="anh"></a>
            </div> -->
        </form>
    </div>
</div>
</body>
</html>